@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=JetBrains+Mono:wght@300;400&family=Liu+Jian+Mao+Cao&family=Noto+Sans:wght@300&family=PT+Sans+Narrow:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MiSans';
    font-weight: 400;
    src: url('/assets/fonts/MiSans-Normal.ttf') format('truetype');
  }

@font-face {
    font-family: 'MiSans';
    font-weight: 500;
    src: url('/assets/fonts/MiSans-Medium.ttf') format('truetype');
  }

@font-face {
    font-family: 'MiSans';
    font-weight: 600;
    src: url('/assets/fonts/MiSans-Demibold.ttf') format('truetype');
  }

* {
    font-family: "MiSans", sans-serif;
    font-weight: 500;
}

*:focus {
    outline: none;
}

.special-font,
nav > * > * > * > * {
  font-family: "Ma Shan Zheng", cursive;
}
.bruh{
  font-family: 'Liu Jian Mao Cao', cursive;
}

.indicators {
    @apply absolute bottom-6 left-1/2 -translate-x-1/2 z-[9999] gap-1;
}

.indicators > .active {
     @apply bg-white
}

.custom-shape-divider-top-1685012790 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1685012790 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px;
}

.custom-shape-divider-top-1685012790 .shape-fill {
  fill: #FFFFFF;
}